:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}